div(ng-hide='done')
  p Welcome to ShieldBattery! Sign up below to be emailed an invite to play in the beta in the near
    | future!
  p(ng-show='error') Error: {{ error }}
  form(name='signupForm',
    ng-submit='signUp(email, teamliquidName, os, browser, graphics, canHost)', novalidate)
    div
      h3 Required
      input(type='text', name='email', ng-model='email', required, placeholder='Email',
        ng-pattern=constants.EMAIL_PATTERN.toString(),
        ng-minlength=constants.EMAIL_MINLENGTH,
        ng-maxlength=constants.EMAIL_MAXLENGTH)
    div
      h3 Optional
      p
        label(for='teamliquid-name') TeamLiquid.net username
        input(type='text', id='teamliquid-name', name='teamliquidName',
          ng-model='teamliquidName', ng-maxlength=20)
      p
        label(for='os') Main operating system
        input(type='text', id='os', name='os', ng-model='os', ng-maxlength=50)
      p
        label(for='browser') Main browser
        input(type='text', id='browser', name='browser', ng-model='browser', ng-maxlength=50)
      p
        label(for='graphics') Graphics card
        input(type='text', id='graphics', name='graphics', ng-model='graphics', ng-maxlength=50)
      p Able to host games so far in BW?
        label(for='can-host-yes') Yes
          input(type='radio', id='can-host-yes', ng-model='canHost', ng-value='true')
        label(for='can-host-no') No
          input(type='radio', id='can-host-no', ng-model='canHost', ng-value='false')

      input(type='submit', value='Sign up', ng-disabled='!signupForm.$valid')
div(ng-show='done')
  | Thank you for signing up. You will be notified by email when you receive beta access.
