form(name='newUserForm', data-ng-submit='createUser(username, email, password, confirmPassword)', novalidate)
  p(data-ng-show='responseError') {{ responseError }}
  input(type='text', name='username', data-ng-model='username', required, placeholder='Username',
    data-ng-pattern=constants.USERNAME_PATTERN.toString(),
    data-ng-minlength=constants.USERNAME_MINLENGTH,
    data-ng-maxlength=constants.USERNAME_MAXLENGTH,
    data-sb-unique-user)
  input(type='text', name='email', data-ng-model='email', required, placeholder='Email',
    data-ng-pattern=constants.EMAIL_PATTERN.toString(),
    data-ng-minlength=constants.EMAIL_MINLENGTH,
    data-ng-maxlength=constants.EMAIL_MAXLENGTH)
  input(type='password', name='password', data-ng-model='password', required,
    data-ng-minlength=constants.PASSWORD_MINLENGTH, placeholder='Password')
  input(type='password', name='confirmPassword', data-ng-model='confirmPassword', required,
    data-sb-must-match='password', placeholder='Confirm Password')
  input(type='submit', value='Create account',
    data-ng-disabled='!newUserForm.$valid || btnDisabled')
