extends layout

block headScripts
  if initData
    script(type='text/javascript', nonce=cspNonce).
      window._sbInitData=!{JSON.stringify(initData)}
  if analyticsId
    script(type='text/javascript', nonce=cspNonce).
      window._sbAnalyticsId=!{JSON.stringify(analyticsId)}
  if feedbackUrl
    script(type='text/javascript', nonce=cspNonce).
      window._sbFeedbackUrl=!{JSON.stringify(feedbackUrl)}

block metaTags
  meta(property='og:url', content='https://www.shieldbattery.net')
  meta(property='og:type', content='website')
  meta(property='og:title', content='ShieldBattery - Modern Starcraft: Brood War')
  meta(property='og:description', content='Play Starcraft: Brood War with improved networking, modern operating system support, ladder, matchmaking, and more!')
  meta(property='og:image', content='/images/logo-and-text-1200x630.png')
  
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:title', content='ShieldBattery - Modern Starcraft: Brood War')
  meta(name='twitter:description', content='Play Starcraft: Brood War with improved networking, modern operating system support, ladder, matchmaking, and more!')
  meta(name='twitter:image', content='/images/logo-and-text-1200x630.png')

block content
  div#app
