extends layout

block headScripts
  if initData
    script(type='text/javascript', nonce=cspNonce).
      window._sbInitData=!{JSON.stringify(initData)}
  if analyticsId
    script(type='text/javascript', defer, nonce=cspNonce,
      src='https://cdn.usefathom.com/script.js', data-site=analyticsId, data-auto='false')

block metaTags
  meta(property='og:url', content=pageMeta.url, data-react-helmet='true')
  meta(property='og:type', content=pageMeta.type, data-react-helmet='true')
  meta(property='og:title', content=pageMeta.title, data-react-helmet='true')
  meta(property='og:description', content=pageMeta.description, data-react-helmet='true')
  meta(property='og:image', content=pageMeta.image, data-react-helmet='true')
  if pageMeta.publishedTime
    meta(property='article:published_time', content=pageMeta.publishedTime, data-react-helmet='true')

  meta(name='twitter:card', content=(pageMeta.cardType || 'summary_large_image'), data-react-helmet='true')
  meta(name='twitter:title', content=pageMeta.title, data-react-helmet='true')
  meta(name='twitter:site', content='@ShieldBatteryBW', data-react-helmet='true')
  meta(name='twitter:description', content=pageMeta.description, data-react-helmet='true')
  meta(name='twitter:image', content=pageMeta.image, data-react-helmet='true')

block content
  div#app
