extends layout

block headScripts
  if initData
    script(type='text/javascript', nonce=cspNonce).
      window._sbInitData=!{JSON.stringify(initData)}
  if analyticsId
    script(type='text/javascript', defer, nonce=cspNonce,
      src='https://cdn.usefathom.com/script.js', data-site=analyticsId, data-spa='auto')

block metaTags
  meta(property='og:url', content='https://www.shieldbattery.net', data-react-helmet='true')
  meta(property='og:type', content='website', data-react-helmet='true')
  meta(property='og:title', content='ShieldBattery', data-react-helmet='true')
  meta(property='og:description', content='Play StarCraft 1 on the premier community-run platform.', data-react-helmet='true')
  meta(property='og:image', content='/images/logo-and-text-1200x630.png', data-react-helmet='true')

  meta(name='twitter:card', content='summary_large_image', data-react-helmet='true')
  meta(name='twitter:title', content='ShieldBattery', data-react-helmet='true')
  meta(name='twitter:site', content='@ShieldBatteryBW', data-react-helmet='true')
  meta(name='twitter:description', content='Play StarCraft 1 on the premier community-run platform.', data-react-helmet='true')
  meta(name='twitter:image', content='https://shieldbattery.net/images/logo-and-text-1200x630.png', data-react-helmet='true')

block content
  div#app
