doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title ShieldBattery
    if assetsOrigin
      link(rel='preconnect', href=assetsOrigin)
      link(rel='preconnect', href=assetsOrigin, crossorigin)
    script(type='text/javascript', nonce=cspNonce).
      window.SB_CSP_NONCE=!{JSON.stringify(cspNonce)}
    block headScripts
    script(type='text/javascript', src='/scripts/client.js', defer, async, nonce=cspNonce)
    link(href=fontsUrl, rel='stylesheet', type='text/css', nonce=cspNonce)
    link(href=iconsUrl, rel='stylesheet', type='text/css', nonce=cspNonce)
    link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
    block metaTags

  body
    block content
